### Topics covered -

- Data Types
- Playing with strings
- Lists
- Tuples
- Dictionaries
- Python operators

In [102]:
##split()
string= 'python language'
string.split(' ')

['python', 'language']

In [2]:
var1= 'python'
var2= 'is good'

print('text 1 {} and {}'.format(var1, var2))

text 1 python and is good

In [3]:
n= input('enter the number of your choice')
print('You entered- {}'.format(n))
print('You entered- %s' %n)

enter the number of your choice34
You entered- 34
You entered- 34

In [4]:
##join()
list1= ['1','2','3','4']
print("".join(list1))
print(" ".join(list1))
print("_".join(list1))

1234
1 2 3 4
1_2_3_4

In [5]:
print("*".join(['a','b','c','d','e']))

a*b*c*d*e

In [6]:
string= 'python language'
print(string.index('g')) #first occurance

10

In [7]:
#format()
print('2'+'2')
print(2+2)
#print('2'+2) #have to convert non string to string data 
print('2'+ str(2))

22
4
22

In [8]:
num1=1
num2=5

'addition- '+ str(num1) +' + '+ str(num2) +' = ' + str(num1+num2)

'addition- 1 + 5 = 6'

In [9]:
num1=1
num2=5

"addition- {} + {} = {}".format(num1,num2,num1+num2)

'addition- 1 + 5 = 6'

In [10]:
num1=1
num2=5

"addition- {} + {} = {}".format(5,7,(5+7))

'addition- 5 + 7 = 12'

In [11]:
num1=1
num2=5

"addition- {a} + {b} = {c}".format(a=5,b=7,c=(5+7))
"addition- {a} + {b} = {c}".format(b=5,a=7,c=(5+7))

'addition- 7 + 5 = 12'

In [12]:
#read input from the user
input()

45

'45'

In [13]:
num= input('enter a number ')
print(num)

enter a number 56
56

In [14]:
num= input('enter a number ')
print(type(num)) #always STRING DATA

enter a number 78
<class 'str'>

In [15]:
#TYPECASTING 
num= input('enter a number ')
num= int(num)
print(type(num))

enter a number 7
<class 'int'>

In [16]:
#isdigit() is to chekc for VALID POSIITVE INTEGER
print('4'.isdigit())
print('4.44'.isdigit())
print('4666'.isdigit())
print('4.0'.isdigit())
print('-4'.isdigit())

True
False
True
False
False

In [17]:
#for valid floating point num
print('4.4'.replace('.','').isdigit())
print('4.04'.replace('.','',1).isdigit())
print('4...4'.replace('.','',1).isdigit())

True
True
False

In [18]:
14/3

4.666666666666667

In [19]:
14//3

4

In [20]:
#not, and , or -> precedncy

In [21]:
bin(8)

'0b1000'

In [22]:
num=2
print(num<<1) #multiply by 2 
print(num>>1) #divide by 2

4
1

In [23]:
string = "programming"
string

'programming'

In [24]:
#Getting one character of the string

print(string[0:1])

p

In [25]:
#Getting the first three characters from the string

print(string[0:3])

pro

In [26]:
#Getting the first three characters from the string (Alternate)

print(string[:3])

pro

In [27]:
#Getting the last three characters from the string

print(string[-3:])

ing

In [28]:
#Getting all characters but excluding three first characters from the string

print(string[3:])

gramming

In [29]:
#Getting all characters but excluding the last three characters from the string

print(string[:-3])

programm

In [30]:
#Reversing all the characters in a given string

print(string[::-1])

gnimmargorp

In [31]:
#Alternative to printing all characters in a string

print(string[::])

programming

In [32]:
string = "python"
string= string.capitalize()
string

'Python'

In [33]:
string = "python"

print(string.center(15, '*'))

*****python****

In [34]:
string = "     python programming is easy    "
print(string.strip())

python programming is easy

### Pyhton Lists-

In [35]:
li= [1, 2, 3, "Tanu", 4.0, 4/2]
print(li)
print(type(li))

[1, 2, 3, 'Tanu', 4.0, 2.0]
<class 'list'>

In [36]:
name = ["Tanu", "Nanda", "Prabhu"]
print(name)
print(name[0])
print(len(name))
print(name[1], len(name[1]))

['Tanu', 'Nanda', 'Prabhu']
Tanu
3
Nanda 5

In [37]:
cars = ["Mercedes", "BMW", "Audi"]
bikes = ["Honda", "Yamaha", "Aprilla"]

cars_bikes= cars + bikes
print(cars_bikes)

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilla']

In [38]:
#List append method
cars = ["Mercedes", "BMW", "Audi"]

cars.append('Tata')
cars

['Mercedes', 'BMW', 'Audi', 'Tata']

In [39]:
#List insert method
cars.insert(2,'Hondaaa')
cars

['Mercedes', 'BMW', 'Hondaaa', 'Audi', 'Tata']

In [40]:
#List extend method
cars.extend('Volks')
cars

['Mercedes', 'BMW', 'Hondaaa', 'Audi', 'Tata', 'V', 'o', 'l', 'k', 's']

In [41]:
#List extend method
cars.extend(['Volks'])
cars

['Mercedes',
 'BMW',
 'Hondaaa',
 'Audi',
 'Tata',
 'V',
 'o',
 'l',
 'k',
 's',
 'Volks']

In [43]:
# List index method
print(cars)
cars.index('Mercedes')

['Mercedes', 'BMW', 'Hondaaa', 'Audi', 'Tata', 'V', 'o', 'l', 'k', 's', 'Volks']

0

In [44]:
# sort method

cars.sort()
print(cars)

['Audi', 'BMW', 'Hondaaa', 'Mercedes', 'Tata', 'V', 'Volks', 'k', 'l', 'o', 's']

In [45]:
# Creating a list called num
num = [1, 2, 3, 4, 5]
# Before Reversing
num

[1, 2, 3, 4, 5]

In [46]:
num.reverse()
# After the reverse
num

[5, 4, 3, 2, 1]

In [47]:
#  List pop method

num = [1, 2, 3, 4, 5]
num.pop(1)

2

In [48]:
# List Slices

char = ['r', 'a', 'n', 'i', 's', 'i', 'k', 'd', 'a', 'r']
char

['r', 'a', 'n', 'i', 's', 'i', 'k', 'd', 'a', 'r']

In [49]:
char[:]

['r', 'a', 'n', 'i', 's', 'i', 'k', 'd', 'a', 'r']

In [50]:
char[0:5]

['r', 'a', 'n', 'i', 's']

In [51]:
char[:-3]

['r', 'a', 'n', 'i', 's', 'i', 'k']

In [52]:
char[::-1]

['r', 'a', 'd', 'k', 'i', 's', 'i', 'n', 'a', 'r']

In [53]:
char[1:-1]

['a', 'n', 'i', 's', 'i', 'k', 'd', 'a']

In [55]:
# Converting a string to a list

string= 'rani'
# Checking for the type 
type(string)

str

In [56]:
name = list(string.split(" ")) 
print(name)
print(type(name))

['rani']
<class 'list'>

 ### Pyhton Tuples-

In [57]:
tuple1= ('aa', 'bb', 'cc', 'dd')
tuple1[2]

'cc'

In [58]:
tuple1= ('aa', 'bb', 'cc', 'dd')
tuple2= ('11', '22', '33', '44')

nest_= tuple1, tuple2
print(nest_)

(('aa', 'bb', 'cc', 'dd'), ('11', '22', '33', '44'))

In [61]:
# TUPLES ARE IMMUTABLE
tuple1= ('aa', 'bb', 'cc', 'dd')
# tuple1[2]= 'zz'  # ERROR WILL BE THROWN
print(tuple1)

('aa', 'bb', 'cc', 'dd')

In [62]:
tuple1= [('aa', 'bb', 'cc', 'dd'), ('aa', 'bb', 'cc', 'dd'), ('aa', 'bb', 'cc', 'dd')]
print(tuple1)

[('aa', 'bb', 'cc', 'dd'), ('aa', 'bb', 'cc', 'dd'), ('aa', 'bb', 'cc', 'dd')]

In [63]:
tuple1= ('aa', 'bb', 'cc', 'dd')
for t in tuple1:
    print(t)

aa
bb
cc
dd

### access the index of the tuple using a loop

In [68]:
tuple1= ('aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg')
tuple1
for counter, value in enumerate(tuple1):
    print(counter, value)

0 aa
1 bb
2 cc
3 dd
4 ee
5 ff
6 gg

In [ ]:

# Deleting an entire tuple using del

tuple = ('aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg')
del(tuple)
print(tuple)

<class 'tuple'>

In [70]:
tuple = ('aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'aa')
print(tuple.count('aa'))

In [71]:
print(tuple.index('aa'))

0

In [72]:
tuple = ('aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'aa')

if 'zz' in tuple:
    print (True)
    print(tuple.index('zz'))
else:
    print(False)

False

In [73]:
tuple = ('aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'aa')

if 'dd' in tuple:
    print (True)
    print(tuple.index('dd'))
else:
    print(False)

True
3

## Python Dictionaries

In [74]:
dictionary = {}
dictionary = {'Name': 'Rani', 'Sex': 'Female', 'Age': 23}
print(dictionary)

{'Name': 'Rani', 'Sex': 'Female', 'Age': 23}

In [75]:

print(dictionary['Name'])

Rani

In [76]:

print(dictionary.get('Age'))

23

In [77]:
dictionary = {'Name': 'Rani', 'Sex': 'Female', 'Age': 23}

In [78]:
del dictionary['Name']
print(dictionary)

{'Sex': 'Female', 'Age': 23}

In [79]:

# Popping an item

print(dictionary.popitem())

('Age', 23)

In [80]:

# Popping the value

print(dictionary.pop('Sex'))

Female

In [81]:

# Clearing the entire dictionary

dictionary.clear()
print(dictionary)

{}

In [82]:
dictionary = {'Name': 'Rani', 'Sex': 'Female', 'Age': 23}

# Iterating through the values

for i in dictionary:
    print(dictionary[i])

Rani
Female
23

In [83]:
# Iterating through the keys

for i in dictionary:
    print(i)

Name
Sex
Age

In [84]:

print(all(dictionary))

True

In [85]:

print(len(dictionary))

3

In [86]:

# Sorting in a ascending order

print(sorted(dictionary))

['Age', 'Name', 'Sex']

In [87]:
# Sorting in a descending order

print(sorted(dictionary, reverse = True))

['Sex', 'Name', 'Age']

In [88]:
dict_2= dictionary.copy()

print(dict_2)

{'Name': 'Rani', 'Sex': 'Female', 'Age': 23}

In [89]:
print(dict_2.keys())

dict_keys(['Name', 'Sex', 'Age'])

In [90]:
print(dict_2.values())

dict_values(['Rani', 'Female', 23])

### Python Operators

In [91]:
# operator
a = 10
b = 5
# Greater than
print('a > b =', a > b)
# Lesser than
print('a < b =', a < b)
# Equal to
print('a == b =', a == b)
# Not equal to
print('a != b =', a != b)
# Greater than or equal to
print('a >= b =', a >= b)
# Lesser than or equal to
print('a <= b =', a <= b)

a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [92]:

a = True
b = False
# Logical and
print('a and b is',a and b)
# Logical or
print('a or b is',a or b)
# Logical not
print('not a is',not a)

a and b is False
a or b is True
not a is False

In [93]:
# Logical “and” operator on Strings
a = ""
b = "Python"
a and b

''

In [94]:
# Logical “or” operator on Strings

a = ""
b = "Python"
a or b

'Python'

In [96]:
# bitwise operator examples

a = 10
b = 11
# Bitwise AND
print('a & b is',a & b)
# Bitwise OR
print('a | b is',a | b)
# Bitwise XOR
print('a ^ b is',a ^ b)
# Bitwise NOT
print('~a is',~a)
# Bitwise Left Shift
print('a << b is',a << b)
# Bitwise Right Shift
print('a >> b is',a >> b)

a & b is 10
a | b is 11
a ^ b is 1
~a is -11
a << b is 20480
a >> b is 0

### Identity Operators

In [97]:
a = 10
b = 11
# Identity is operator
print('a is b is',a is b)
# Identity is not operator
print('a is not b is',a is not b)

a is b is False
a is not b is True

In [99]:

a = 5
b = 4
c = a
# Getting the id of the variables
print(id(a))
print(id(b))
print(id(c))
# Comparing the id of a and c
print(a is c)

2254803528112
2254803528080
2254803528112
True

### Membership Operators

In [100]:
a = "Python"
# Type of the variable
print(type(a))
# Checking whether 'y' is present in the variable a or not
print('y' in a)
# Checking whether 'P' is present in the variable a or not
print('p' not in a)

<class 'str'>
True
True

In [101]:
# Dictionary with key as 1, 2 and values as 'A' and 'B'
a = {1: "A", 2: 'B'}
# Using 'in' operator
print(2 in a)
# Using 'not in' operator
print(3 not in a)

True
True